html, body, div {
  text-align: center;
  font-size: 1.4em;
}

html, body {
  background-color: #555;
  height: 480px;
  width: 320px;
}

#dialpad {
  position: absolute;
  top: 0;
  left: 0;
  height: 455px;
  width: 320px;
  padding-top: 5px;
}

a {
  font-family: "Helvetica Neue", Arial, sans-serif;
  background: #222;
  display: inline-block;
  margin: 5px;
  width: 75px;
  height: 94px;
  color: #ddd;
  text-decoration: none;
  font-weight: bold;
  line-height: 94px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0 1px 3px #999;
  -webkit-box-shadow: 0 1px 3px #999;
  text-shadow: 0 -1px 1px #222;
  border-bottom: 1px solid #222;
  position: relative;
  cursor: pointer;
}

a:active {
  background-color: #444;
  -moz-box-shadow: 0 -1px -3px #999;
  -webkit-box-shadow: 0 -1px -3px #999;
  border-bottom: 1px solid #222;
}

.row {
  float: left;
  clear: both;
  height: 25%;
  width: 100%;
}

#cancel {
  background-color: #622;
}

#cancel:active {
  background-color: #844;
  -moz-box-shadow: 0 -1px -3px #999;
  -webkit-box-shadow: 0 -1px -3px #999;
  border-bottom: 1px solid #222;
}

#ok {
  background-color: #262;
}

#ok:active {
  background-color: #484;
  -moz-box-shadow: 0 -1px -3px #999;
  -webkit-box-shadow: 0 -1px -3px #999;
  border-bottom: 1px solid #222;
}
